{% extends "base.html" %} {% block content %} {% for message in
get_flashed_messages() %}
<div class="container alert alert-warning alert-dismissible fade show" role="alert">
  {{message}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %}


<div class="container shadow mb-5 bg-body rounded">
    <h4 class="mt-4", style="color:blue;"> Add Blog Posts </h4>
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.title.label(class="form-label")}} {{form.title(class="form-control" )}} <br>
        {{form.author.label(class="form-label")}} {{form.author(class="form-control" )}} <br>
        {{form.slug.label(class="form-label")}} {{form.slug(class="form-control" )}} <br>
        {{form.content.label(class="form-label")}} {{form.content(class="form-control",rows="10" )}} <br>
        {{form.submit(class="btn btn-primary")}}
    </form>
</div>


{% endblock %}
